Repository executablebooks/sphinx-design: changes, and which pre-commit hooks are due for each by the changed paths.
All: css, tsc

css:
  name: css
  description: Compile the SCSS/SASS files to CSS inside the python package
  language: node
  additional_dependencies:
  - sass@1.35.2
  entry: npm run css
  require_serial: true
  pass_filenames: false

tsc:
  name: tsc (jsdoc)
  entry: tsc
  language: node
  args:
  - --allowJs
  - --noEmit
  - --strict
  additional_dependencies:
  - typescript

✨ NEW: sync tabs by URL query parameters (#196)
  .pre-commit-config.yaml
  docs/conf.py
  docs/get_started.md
  docs/snippets/myst/tab-sync.txt
  docs/snippets/rst/tab-sync.txt
  docs/tabs.md
  sphinx_design/compiled/sd_tabs.js
  sphinx_design/tabs.py
  tests/test_snippets/snippet_post_tab-code-set.xml
  tests/test_snippets/snippet_post_tab-sync.xml
  tests/test_snippets/snippet_pre_tab-code-set.xml
  tests/test_snippets/snippet_pre_tab-sync.xml
Due: tsc

🚀 Release v0.6.0
  CHANGELOG.md
  docs/changelog.md
  docs/conf.py
  docs/index.md
  sphinx_design/__init__.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

🚀 Release v0.6.0 (#197)
  CHANGELOG.md
  docs/changelog.md
  docs/conf.py
  docs/index.md
  sphinx_design/__init__.py
Due: none

👌 Reduce right-padding of dropdown title
  style/_dropdown.scss
Due: css

Update _dropdown.scss
  style/_dropdown.scss
Due: css

👌 Reduce right-padding of dropdown title (#198)
  sphinx_design/compiled/style.min.css
  style/_dropdown.scss
Due: css

refactor: Remove unused constants
  sphinx_design/icons.py
Due: none

expand sphinx requirement from `>=5,<8` to `>=5,<9`
  pyproject.toml
Due: none

⬆️ Update sphinx v8 and test dependency versions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  sphinx_design/cards.py
  tests/test_snippets.py
  tox.ini
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

update
  .github/workflows/ci.yml
  .readthedocs.yml
Due: none

Update codecov.yml
  codecov.yml
Due: none

⬆️ Update sphinx v8 and test dependency versions (#212)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  codecov.yml
  pyproject.toml
  sphinx_design/cards.py
  tests/test_snippets.py
  tox.ini
Due: none

⤴️ switch default theme build
  .readthedocs.yml
  docs/conf.py
Due: none

🚀 Release v0.6.1
  CHANGELOG.md
  sphinx_design/__init__.py
Due: none

🚀 Release v0.6.1 (#213)
  CHANGELOG.md
  sphinx_design/__init__.py
Due: none

Update badges_buttons.md
  docs/badges_buttons.md
Due: none

Update badge-basic.txt
  docs/snippets/myst/badge-basic.txt
Due: none

Update badge-basic.txt
  docs/snippets/rst/badge-basic.txt
Due: none

UPDATE Material Design Icons to v4.0.0-116-ge9da21
  sphinx_design/compiled/material-icons_LICENSE
  sphinx_design/compiled/material-icons_VERSION.txt
  sphinx_design/compiled/material_outlined.json
  sphinx_design/compiled/material_regular.json
  sphinx_design/compiled/material_round.json
  sphinx_design/compiled/material_sharp.json
  sphinx_design/compiled/material_twotone.json
Due: none

update license file
  sphinx_design/compiled/material-icons_LICENSE
Due: none

🧪 add regression test for available material icons
  .github/workflows/ci.yml
  tests/test_misc.py
  tests/test_misc/test_material_outlined_.txt
  tests/test_misc/test_material_regular_.txt
  tests/test_misc/test_material_round_.txt
  tests/test_misc/test_material_sharp_.txt
  tests/test_misc/test_material_twotone_.txt
Due: none

🧪 add regression test for available material icons (#224)
  .github/workflows/ci.yml
  tests/test_misc.py
  tests/test_misc/test_material_outlined_.txt
  tests/test_misc/test_material_regular_.txt
  tests/test_misc/test_material_round_.txt
  tests/test_misc/test_material_sharp_.txt
  tests/test_misc/test_material_twotone_.txt
Due: none

update tests
  tests/test_misc/test_material_outlined_.txt
  tests/test_misc/test_material_regular_.txt
  tests/test_misc/test_material_round_.txt
  tests/test_misc/test_material_sharp_.txt
  tests/test_misc/test_material_twotone_.txt
Due: none

⬆️ Update Material Design Icons to v4.0.0-116-ge9da21 (#223)
  sphinx_design/compiled/material-icons_LICENSE
  sphinx_design/compiled/material-icons_VERSION.txt
  sphinx_design/compiled/material_outlined.json
  sphinx_design/compiled/material_regular.json
  sphinx_design/compiled/material_round.json
  sphinx_design/compiled/material_sharp.json
  sphinx_design/compiled/material_twotone.json
  tests/test_misc/test_material_outlined_.txt
  tests/test_misc/test_material_regular_.txt
  tests/test_misc/test_material_round_.txt
  tests/test_misc/test_material_sharp_.txt
  tests/test_misc/test_material_twotone_.txt
Due: none

Update tests
  tests/test_snippets/snippet_post_badge-basic.xml
  tests/test_snippets/snippet_pre_badge-basic.xml
Due: none

📚 Document `muted`, `white`, and `black` semantic colors (#216)
  docs/badges_buttons.md
  docs/snippets/myst/badge-basic.txt
  docs/snippets/rst/badge-basic.txt
  tests/test_snippets/snippet_post_badge-basic.xml
  tests/test_snippets/snippet_pre_badge-basic.xml
Due: none

Restore focus rings to dropdowns
  sphinx_design/compiled/style.min.css
  style/_dropdown.scss
Due: css

Fix typo in get_started.md
  docs/get_started.md
Due: none

Fix focus rings for tabbed panel
  sphinx_design/compiled/style.min.css
  style/_tabs.scss
Due: css

Focus rings for clickable cards
  sphinx_design/compiled/style.min.css
  style/_cards.scss
Due: css

Outline offsets and colors
  sphinx_design/compiled/style.min.css
  style/_button.scss
  style/_cards.scss
  style/_colors.scss
  style/_dropdown.scss
  style/_overrides.scss
Due: css

Equalize top and bottom tab padding
  sphinx_design/compiled/style.min.css
  style/_tabs.scss
Due: css

Update style/_tabs.scss
  style/_tabs.scss
Due: css

Fix issue where build directory does not exist yet during 'builder-inited'
  sphinx_design/extension.py
Due: none

Path conditions:
  css: any of: \.(scss|sass)$, but not: (?x)^(
  \.vscode/settings\.json|
  tests/.*xml|
  tests/.*txt|
)$

  tsc: any of: \.(js)$ and \.(js|mjs|cjs)$ and not ((?x)^(
  \.vscode/settings\.json|
  tests/.*xml|
  tests/.*txt|
)$
)
